/* Basic Reset */
@font-face {
    font-family: 'SunnySpells-Regular';
    src: url('../ressources/sunny-spells-font/SunnyspellsRegular-MV9ze.otf') format('opentype'); 
}

/* Body and global styles */
body {
    font-family: 'SunnySpells-Regular', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Background overlay */
.background-overlay {
    position: relative;
}

/* Navigation styles similar to other pages */
.navbar {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease;
    margin-left: 20px;
}

.logo:hover {
    color: #FF4500;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
    white-space: nowrap;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #FF6347;
}

/* Grades container styles */
.grades-container {
    background-color: rgba(255, 99, 71, 0.8);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 800px;
    margin: auto;
    color: #fff;
    max-height: 550px;
    margin-top: 90px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 40px;
}

/* Styles for player grades list */
.grades-list {
    display: grid;
    grid-template-columns: repeat(9, minmax(100px, 1fr));
    gap: 15px;
}

.player-grade input[type="text"],
.player-grade input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.player-grade input[type="text"][disabled],
.player-grade input[type="number"][disabled] {
    background-color: #eee;
}

.button {
    background-color: #000000;
    color: #fff;
    font-family: 'SunnySpells-Regular', sans-serif;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    width: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button:hover {
    background-color: #FF4500;
}
