/* Basic Reset */
@font-face {
    font-family: 'SunnySpells-Regular';
    src: url('../ressources/sunny-spells-font/SunnyspellsRegular-MV9ze.otf') format('opentype'); 
}

body {
    font-family: 'SunnySpells-Regular', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #333;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    padding: 15px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

@keyframes shimmer {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.navbar {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    text-decoration: none;
    color: #FF6347;
    font-size: 24px;
    transition: color 0.3s ease;
}

.logo:hover {
    color: #cc4c34;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
    white-space: nowrap;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #FF6347;
}

/* Waiting Room Styles */
.waiting-room-container {
    background-color: rgba(255, 99, 71, 0.8);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    margin: auto;
    color: #fff;
    max-height: 550px;
    margin-top: 90px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 40px;
}

.user-grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 calc(50% - 10px);
}

.user-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-avatar p {
    margin: 0;
    color: #fff;
    font-size: 16px;
}

.button {
    background-color: #000000;
    color: #fff;
    font-family: 'SunnySpells-Regular', sans-serif;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    width: auto;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #FF4500;
}

/* Add your existing CSS styles or modify these styles as neede